%nav
  %ul
    %li
      = link_to "#" do
        Headers
    %li
      = link_to "#" do
        Splash Screens
    %li
      = link_to "#" do
        Proof Points
    %li
      = link_to "#" do
        Maps
